div{
    /* border: red 0.5px solid; */
}
*{
    padding: 0;
    margin: 0;
}
.navbar{
    height:50px
}





.link-dark{
    cursor: pointer;
    color: #616161 !important;
    transition: all 0.3s ease;
}
a{
    text-decoration: none !important;
    background-color: transparent;
}

div.carousel-inner>div.item>a>img {
    width:100%;
    height:450px;
}
div.container{
    margin-bottom: 50px;
}
div.container>div.text-center{
    width: 100%;
    margin:50px 0px 50px 0px;
}
div.container>div.text-center>h5>span{
    font-size: 32px;
}
div.container>div.text-center>span{
    color:#c7c7c7;
}
.tablist{
    padding:10px;
    display: flex;
    justify-content: space-between;
}
.course-list .course-item{
    position:relative;
    z-index: 1;
    margin-bottom: 30px;
    border-radius: 4px;
    border: 1px solid #e4ecf3;
    background-color: #fff;
}
.course-list .course-item .course-img{
    position: relative;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.course-list .course-item .course-img .img-responsive{
    padding:10px;
    width: 100%;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
img{
    vertical-align: middle;
    border: 0px;
}
.course-list .course-item .title{
    margin-top: 10px;
    padding: 0 10px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.course-list .course-item .metas{
    position: relative;
    padding: 10px;
    color: #c1c1c1;
}
.course-list .course-item .metas i{
    margin-right:5px;
}
.course-list .course-item .metas .comment{
    margin-left: 10px;
}
.course-list .course-price-widget{
    float: right;
}
.course-price-widget .free{
    color:#43bc60;
}




.SJgame {
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width: 1060px;
    height: auto;
}
.Mtit {
    margin: 15px 0;
    width: auto;
    height: 50px;
}
.lx1 {
    background: url(http://image.gamersky.com/webimg15/lx1.gif) 0 bottom repeat-x;
}
.Mtit .tit {
    background: url(http://image.gamersky.com/webimg15/ttbg.png) no-repeat;
}
.Mtit .tit {
    float: left;
    padding-left: 44px;
    width: auto;
    height: 50px;
    line-height: 48px;
    font-size: 28px;
    font-family: 'Microsoft YaHei';
}
.Mtit .tit .tt3 {
    float: left;
    color: #000;
}
.Mtit .like {
    float: right;
    width: auto;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-family: 'Microsoft YaHei';
}
.Mtit .like a {
    float: left;
    color: #333;
}
.SJgame_L {
    float: left;
    margin-right: 25px;
    width: 385px;
    height: auto;
}
.Midtit {
    width: auto;
    height: 36px;
}
.Midtit .tit {
    background: url(http://image.gamersky.com/webimg15/tt.gif) no-repeat;
}
.Midtit .tit {
    float: left;
    padding-left: 23px;
    width: auto;
    height: 26px;
    line-height: 26px;
    color: #000;
    font-size: 16px;
    font-family: 'Microsoft YaHei';
}
.Midtit .more {
    float: right;
    width: auto;
    height: 26px;
    line-height: 26px;
    color: #999;
    font-size: 12px;
    font-family: SimSun;
}
.Mid3Limg {
    width: 385px;
    height: 205px;
}
.Mid3Limg a {
    display: inline-block;
    width: 385px;
    height: 190px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    position: relative;
}
ul.Mid3Lpic_txt {
    width: 385px;
    height: auto;
}
ul.Mid3Lpic_txt li {
    margin-top: -1px;
    width: 385px;
    height: 119px;
    border-top: 1px dotted #cecece;
}
ul li {
    list-style-type: none;
    vertical-align: middle;
}
ul.Mid3Lpic_txt li .tit {
    float: left;
    width: 385px;
    height: 36px;
    line-height: 36px;
}
ul.Mid3Lpic_txt li .tit a {
    color: #353535;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Microsoft YaHei';
}
ul.Mid3Lpic_txt li .img {
    float: left;
    margin-right: 16px;
    width: 130px;
    height: 73px;
    position: relative;
}
ul.Mid3Lpic_txt li .img a {
    display: inline-block;
}
ul.Mid3Lpic_txt li .txt {
    float: left;
    width: 239px;
    height: 63px;
    line-height: 20px;
    color: #555;
}
.SJgame_M {
    float: left;
    margin-right: 25px;
    width: 385px;
    height: auto;
}
.SJgame_M ul.Mid6L_txt {
    margin-bottom: 20px;
}
ul.Mid6L_txt {
    margin-top: -2px;
    width: 385px;
    height: auto;
}
ul.Mid6L_txt li.topline {
    width: 385px;
    height: 27px;
}
ul li {
    list-style-type: none;
    vertical-align: middle;
}
ul.Mid6L_txt li.topline .mark {
    padding-right: 6px;
    width: 37px;
    text-align: center;
    color: #e23703;
    background: url(http://image.gamersky.com/webimg15/mark.gif) center 0 no-repeat;
}
ul.Mid6L_txt li.topline div {
    float: left;
    height: 26px;
    line-height: 26px;
    font-weight: bold;
}
ul.Mid6L_txt li.topline .txt {
    padding-left: 4px;
    width: 338px;
}
ul.Mid6L_txt li.topline div {
    float: left;
    height: 26px;
    line-height: 26px;
    font-weight: bold;
}
ul.Mid6L_txt li.topline .txt a {
    color: #262626;
    font-size: 14px;
}
ul.Mid6L_txt li.li3 {
    width: 385px;
    height: 27px;
    background-position: 0 0;
}
.li3 {
    background: url(http://image.gamersky.com/webimg15/li3.gif) no-repeat;
}
ul.Mid6L_txt li.li3 .txt {
    padding: 0 10px 0 12px;
    width: 330px;
    font-size: 14px;
}
ul.Mid6L_txt li.li3 div {
    float: left;
    height: 27px;
    line-height: 27px;
}
a {
    color: #151515;
    text-decoration: none;
    _blr: expression(this.onFocus=this.blur());
}
ul.Mid6L_txt li.li3 .time {
    width: 32px;
    color: #999;
}
ul.Mid6L_txt li.li3 div {
    float: left;
    height: 27px;
    line-height: 27px;
}

.SJgame_R ul.txt_pic {
    margin-bottom: 36px;
}
ul.txt_pic {
    margin-bottom: 23px;
    width: 240px;
    height: 370px;
    border-top: 1px solid #cecece;
}
ul.txt_pic li.txt {
    height: 30px;
}
ul.txt_pic li {
    width: 240px;
    border-bottom: 1px dotted #dddbdb;
}
ul.txt_pic li.txt .t1 {
    margin-right: 2px;
    width: 30px;
    text-align: center;
    color: #878787;
    font-size: 14px;
    font-family: Arial;
}
ul.txt_pic li.txt div {
    float: left;
    height: 30px;
    line-height: 30px;
}
ul.txt_pic li.txt .t2 {
    width: 208px;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 14px;
    font-family: 'Microsoft YaHei';
}
ul.txt_pic li.txt div {
    float: left;
    height: 30px;
    line-height: 30px;
}
ul.txt_pic li.img {
    padding: 12px 0;
    height: auto;
}
ul.txt_pic li {
    width: 240px;
    border-bottom: 1px dotted #dddbdb;
}

.none {
    display: none;
}
ul.txt_pic li.img .img_0 {
    float: left;
    margin-right: 2px;
    width: 30px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    color: #333;
    font-size: 26px;
    font-weight: bold;
    font-family: Arial;
}
ul.txt_pic li.img .img_1 {
    float: left;
    width: 87px;
    height: 65px;
}
ul.txt_pic li.img .img_1 a {
    display: inline-block;
    border-radius: 7px;
}
ul.txt_pic li.img .img_2 {
    float: left;
    width: 121px;
    height: 66px;
}
ul.txt_pic li.img .img_2 .img2_1 {
    margin-bottom: 5px;
    height: 16px;
    line-height: 16px;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 14px;
    font-family: 'Microsoft YaHei';
}
ul.txt_pic li.img .img_2 .img2_2 {
    margin-bottom: 5px;
    height: 16px;
    line-height: 16px;
    color: #999898;
}
ul.txt_pic li.img .img_2 div {
    width: 121px;
    word-break: break-all;
    word-wrap: break-word;
}
ul.txt_pic li.img .img_2 .img2_3 {
    height: 24px;
}
ul.txt_pic li.img .img_2 div {
    width: 121px;
    word-break: break-all;
    word-wrap: break-word;
}
ul.txt_pic li.img .img_2 .img2_3 a {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
}
ul.txt_pic li.img .img_2 .img2_3 a {
    display: inline-block;
    width: 45px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #010101;
    border: 1px solid #bebebe;
    border-radius: 2px;
}
.SJgame_R ul.txt_pic {
    margin-bottom: 36px;
}
ul.txt_pic {
    margin-bottom: 23px;
    width: 240px;
    height: 370px;
    border-top: 1px solid #cecece;
}



.SJgame_R {
    float: left;
    width: 240px;
    height: auto;
}
ul.SJgameRimg {
    width: 240px;
    height: 103px;
    position: relative;
}
ul.SJgameRimg li {
    width: 255px;
    height: 103px;
    position: absolute;
    left: 0;
    top: 0;
}
ul.SJgameRimg li a {
    float: left;
    margin-right: 15px;
    display: inline-block;
    width: 70px;
    height: 103px;
    line-height: 33px;
    text-align: center;
    background: #e5e5e5;
    border-radius: 10px;
    overflow: hidden;
}
ul.SJgameRimg li a img {
    border-radius: 10px;
}


#footer {
    position:relative
    min-width: 100%;
    margin-top: 20px!important;
}
#footer .runoob-block {
    background: #fff;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #e4e4e4;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(228, 228, 228);
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 50px;
}
#footer .runoob-block .runoob {
    width: 80%;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    min-height: 200px;
}
#footer .runoob dl {
    width: 15%;
    padding-left: 30px;
    color: gray;
    margin: 25px 0;
    float: left;
    border-left: 1px solid #e4e4e4;
    min-height: 175px;
}
#footer .runoob dl dt {
    font-size: 14px;
    color: #666;
    font-weight: 500;
}
#footer .runoob dl dd {
    font-size: 12px;
    margin-top: 10px;
}
#footer .copyright {
    font-size: 12px;
    color: #999;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
