{% extends "mybase.html" %}
{% block title %}无限流量物联网卡{% endblock title %}
{% block body %}


{% block carousel %}
<div id="myCarousel" class="carousel slide" data-ride="carousel" >
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner">
		<div class="item active">
            <a href="#">
			<img src="{{ url_for('static',filename='img/1426295317cf636880.png') }}" alt="First slide">
            </a>
			<div class="carousel-caption">标题 1</div>
		</div>
		<div class="item">
            <a href="#">
			<img src="{{ url_for('static',filename='img/1925437dd522005713.jpg') }}" alt="Second slide">
            </a>
			<div class="carousel-caption">标题 2</div>
		</div>
		<div class="item">
            <a href="#">
			<img src="{{ url_for('static',filename='img/1925437dd522005713.jpg') }}" alt="Third slide">
            </a>
			<div class="carousel-caption">标题 3</div>
		</div>
	</div>
	<!-- 轮播（Carousel）导航 -->
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	</a>
</div>
{% endblock %}

{% block content %}
<div class="SJgame">
    <div class="Mtit lx1">
      <div class="tit pr_sjyx"><a class="tt3" target="_blank" href="http://shouyou.gamersky.com/">手机游戏</a></div>
      <div class="like">
        <a target="_blank" href="http://shouyou.gamersky.com/zx/news/">资讯</a><span>|</span>
        <a target="_blank" href="http://shouyou.gamersky.com/review/">评测</a><span>|</span>
        <a target="_blank" href="http://shouyou.gamersky.com/gl/">攻略</a><span>|</span>
        <a target="_blank" href="http://shouyou.gamersky.com/ku/0-0-0-00.html">下载</a><span>|</span>
        <a target="_blank" href="http://shouyou.gamersky.com/z/">专区</a>
      </div>
    </div>
    <div class="SJgame_L">
      <div class="Midtit"><div class="tit">热点推荐</div><div class="more"></div></div>
      <div class="Mid3Limg"><a target="_blank" href="http://shouyou.gamersky.com/news/201803/1028417.shtml?sydatub03221813"><img width="385" height="190" src="http://imgs.gamersky.com/pic/2018/20180323_yyc_325_4.jpg">
<div class="border"></div>
<div class="mask mk3"></div>
<div class="txt">苹果Top6：画质全面升级 《暗影之枪》新作登场</div>
</a></div>
      <ul class="Mid3Lpic_txt">




        <li><div class="tit"><a href="http://shouyou.gamersky.com/news/201803/1028225.shtml" title="《Sky光·遇》的故事：每一次相遇" target="_blank">《Sky光·遇》的故事：每一次相遇</a></div><div class="img"><a target="_blank" title="《Sky光·遇》的故事：每一次相遇" href="http://shouyou.gamersky.com/news/201803/1028225.shtml">
            <img data-src="http://imgs.gamersky.com/upimg/2018/201803231414461213.jpg" src="http://imgs.gamersky.com/upimg/2018/201803231414461213.jpg" alt="《Sky光·遇》的故事：每一次相遇" width="130" height="73" class="pe_u_thumb" border="0">
          <div class="border"></div></a></div><div class="txt">陈星汉设计的最新游戏作品《Sky光·遇》近日开启了首次TestFlight测试。这款以“爱与给予”为主题的游戏。</div></li>

        <li><div class="tit"><a href="http://shouyou.gamersky.com/news/201803/1028191.shtml" title="《叛逆性百万亚瑟王》3月30日App Store首发" target="_blank">《叛逆性百万亚瑟王》3月30日App Store首发</a></div><div class="img"><a target="_blank" title="《叛逆性百万亚瑟王》3月30日App Store首发" href="http://shouyou.gamersky.com/news/201803/1028191.shtml">
            <img data-src="http://imgs.gamersky.com/upimg/2018/201803231214013227.jpg" src="http://imgs.gamersky.com/upimg/2018/201803231214013227.jpg" alt="《叛逆性百万亚瑟王》3月30日App Store首发" width="130" height="73" class="pe_u_thumb" border="0">
          <div class="border"></div></a></div><div class="txt">由网易与SQUARE ENIX联手打造、3D即时制RPG《叛逆性百万亚瑟王》将于3月30日App Store首发。</div></li>

        <li><div class="tit"><a href="http://shouyou.gamersky.com/news/201803/1028163.shtml" title="《吃鸡情报局》第三期：人头诚可贵 饮料价更高" target="_blank">《吃鸡情报局》第三期：人头诚可贵 饮料价更高</a></div><div class="img"><a target="_blank" title="《吃鸡情报局》第三期：人头诚可贵 饮料价更高" href="http://shouyou.gamersky.com/news/201803/1028163.shtml">
            <img data-src="http://imgs.gamersky.com/upimg/2018/201803231149063807.jpg" src="http://imgs.gamersky.com/upimg/2018/201803231149063807.jpg" alt="《吃鸡情报局》第三期：人头诚可贵 饮料价更高" width="130" height="73" class="pe_u_thumb" border="0">
          <div class="border"></div></a></div><div class="txt">我站制作了以《绝地求生 全军出击》为蓝本的搞笑条漫《吃鸡情报局》，与大家分享游戏中的那些趣事，欢迎观看！</div></li>

      </ul>
    </div><!--SJgame_L end-->
    <div class="SJgame_M">
      <div class="Midtit"><div class="tit">新游情报</div><div class="more"></div></div>
      <ul class="Mid6L_txt">
        <li class="topline"><div class="mark">头条</div>
<div class="txt"><a title="" target="_blank" href="http://shouyou.gamersky.com/gl/201802/1012879.shtml">首个扩大版复刻 《FGO》情人节复刻活动攻略</a></div></li>




        <li class="li3"><div class="txt"><a href="http://shouyou.gamersky.com/news/201803/1028438.shtml" title="微信小程序游戏开启测试 还开放了虚拟支付功能" target="_blank">微信小程序游戏开启测试 还开放了虚拟支付功能</a></div><div class="time">03-23</div></li>

        <li class="li3"><div class="txt"><a href="http://shouyou.gamersky.com/news/201803/1028512.shtml" title="《消除者联盟》今日独家报道潮萌天团准备搞事情" target="_blank">《消除者联盟》今日独家报道潮萌天团准备搞事情</a></div><div class="time">03-23</div></li>

        <li class="li3"><div class="txt"><a href="http://shouyou.gamersky.com/gl/201803/1028121.shtml" title="《碧蓝航线》110级PVE节奏榜（排行榜）" target="_blank">《碧蓝航线》110级PVE节奏榜（排行榜）</a></div><div class="time">03-23</div></li>

        <li class="li3"><div class="txt"><a href="http://shouyou.gamersky.com/news/201803/1028441.shtml" title="万代《龙珠 激战传说》公布 鸟山明亲绘全新角色" target="_blank">万代《龙珠 激战传说》公布 鸟山明亲绘全新角色</a></div><div class="time">03-23</div></li>

        <li class="li3"><div class="txt"><a href="http://shouyou.gamersky.com/news/201803/1025460.shtml" title="经典足球经理手游《Champion Eleven》预约开启" target="_blank">经典足球经理手游《Champion Eleven》预约开启</a></div><div class="time">03-23</div></li>

        <li class="li3"><div class="txt"><a href="http://shouyou.gamersky.com/news/201803/1028399.shtml" title="下周玩什么：网易新游《叛逆性百万亚瑟王》IOS首发" target="_blank">下周玩什么：网易新游《叛逆性百万亚瑟王》IOS首发</a></div><div class="time">03-23</div></li>

      </ul>
      <div class="Midtit"><div class="tit">游戏杂谈</div><div class="more"></div></div>
      <div class="Mid5LSimg">




        <a target="_blank" href="http://shouyou.gamersky.com/news/201803/1025514.shtml"><img data-src="http://imgs.gamersky.com/pic/2018/20180316_yyc_325_2.jpg" src="http://imgs.gamersky.com/pic/2018/20180316_yyc_325_2.jpg" alt="苹果Top6：Steam国产佳作 呆萌死神上架iOS" width="120" height="90" class="pe_u_thumb" border="0"><div class="border"></div>Steam国产佳作 呆萌死神上架iOS</a>

        <a target="_blank" href="http://shouyou.gamersky.com/news/201803/1022725.shtml"><img data-src="http://imgs.gamersky.com/pic/2018/20180309_yyc_325_2.jpg" src="http://imgs.gamersky.com/pic/2018/20180309_yyc_325_2.jpg" alt="苹果Top6：触及灵魂之音 雷亚《Cytus 2》上架" width="120" height="90" class="pe_u_thumb" border="0"><div class="border"></div>触及灵魂之音 雷亚《Cytus 2》上架</a>

        <a target="_blank" href="http://shouyou.gamersky.com/news/201803/1019866.shtml"><img data-src="http://imgs.gamersky.com/pic/2018/20180302_yyc_325_2.jpg" src="http://imgs.gamersky.com/pic/2018/20180302_yyc_325_2.jpg" alt="苹果Top6：游戏“进化”之旅 《进化之地2》上架" width="120" height="90" class="pe_u_thumb" border="0"><div class="border"></div>游戏“进化”之旅 《进化之地2》上架</a>

      </div>
      <div class="SJgameMnav">
        <a href="javascript:;" class="">游戏评测</a>
        <a href="javascript:;" class="cur">攻略大全</a>
      </div>
      <ul class="SJgameMpic none">




        <li class="img"><a target="_blank" href="http://shouyou.gamersky.com/review/201803/1025462.shtml" title="《反斗联盟》评测：诙谐有趣的轻度休闲竞技手游">
            <img data-src="http://imgs.gamersky.com/upimg/2018/201803161543501462.jpg" src="http://imgs.gamersky.com/upimg/2018/201803161543501462.jpg" alt="《反斗联盟》评测：诙谐有趣的轻度休闲竞技手游" width="185" height="103" class="pe_u_thumb" border="0">
          <div class="mask mk2"></div><div class="txt">《反斗联盟》评测8.0分</div></a></li>

        <li class="img"><a target="_blank" href="http://shouyou.gamersky.com/review/201802/1010371.shtml" title="《音乐世界Cytus II》评测：谁说音游不会讲故事？">
            <img data-src="http://imgs.gamersky.com/upimg/2018/201802020951315983.jpg" src="http://imgs.gamersky.com/upimg/2018/201802020951315983.jpg" alt="《音乐世界Cytus II》评测：谁说音游不会讲故事？" width="185" height="103" class="pe_u_thumb" border="0">
          <div class="mask mk2"></div><div class="txt">《音乐世界Cytus II》评测9.0分</div></a></li>

      </ul>
      <ul class="SJgameMpic block">




        <li class="li3"><div class="txt"><a href="http://shouyou.gamersky.com/gl/201803/1028675.shtml" title="2.0相关情报《FGO》2.0个章主要人物立绘" target="_blank">2.0相关情报《FGO》2.0个章主要人物立绘</a></div><div class="time">03-24</div></li>

        <li class="li3"><div class="txt"><a href="http://shouyou.gamersky.com/gl/201803/1028643.shtml" title="《碧蓝航线》吹雪学园换装欣赏" target="_blank">《碧蓝航线》吹雪学园换装欣赏</a></div><div class="time">03-24</div></li>

        <li class="li3"><div class="txt"><a href="http://shouyou.gamersky.com/gl/201803/1028641.shtml" title="《碧蓝航线》雪风Live2D欣赏（日服）" target="_blank">《碧蓝航线》雪风Live2D欣赏（日服）</a></div><div class="time">03-24</div></li>

        <li class="li3"><div class="txt"><a href="http://shouyou.gamersky.com/gl/201803/1028636.shtml" title="《苍之纪元》德古拉技能详解" target="_blank">《苍之纪元》德古拉技能详解</a></div><div class="time">03-24</div></li>

      </ul>
    </div><!--SJgame_M end-->
    <div class="SJgame_R">
      <div class="Midtit"><div class="tit">手游排行榜</div><div class="SJgameRnav"><a href="javascript:;" class="cur">安卓</a><a href="javascript:;">苹果</a></div></div>
      <ul class="txt_pic block">




                <li class="txt block"><div class="t1">1</div><div class="t2"><a href="http://shouyou.gamersky.com/ku/850299.shtml" target="_blank">楚留香</a></div></li><li class="img none"><div class="img_0">1</div><div class="img_1"><a href="http://shouyou.gamersky.com/ku/850299.shtml" target="_blank"><img data-src="http://img1.gamersky.com/image2018/01/20180122_yyc_325_10/icon.jpg" src="http://img1.gamersky.com/image2018/01/20180122_yyc_325_10/icon.jpg" alt="楚留香" width="65" height="65" class="pe_u_thumb" border="0"></a></div><div class="img_2"><div class="img2_1"><a href="http://shouyou.gamersky.com/ku/850299.shtml" target="_blank">楚留香</a></div><div class="img2_2">角色扮演</div><div class="img2_3"><a href="http://shouyou.gamersky.com/ku/850299.shtml" target="_blank">下载</a></div></div></li>

                <li class="txt none"><div class="t1">2</div><div class="t2"><a href="http://shouyou.gamersky.com/ku/865176.shtml" target="_blank">生死格斗5无限</a></div></li><li class="img block"><div class="img_0">2</div><div class="img_1"><a href="http://shouyou.gamersky.com/ku/865176.shtml" target="_blank"><img data-src="http://img1.gamersky.com/image2017/02/20170206_yyc_325_7/icon.jpg" src="http://img1.gamersky.com/image2017/02/20170206_yyc_325_7/icon.jpg" alt="生死格斗5无限" width="65" height="65" class="pe_u_thumb" border="0"></a></div><div class="img_2"><div class="img2_1"><a href="http://shouyou.gamersky.com/ku/865176.shtml" target="_blank">生死格斗5无限</a></div><div class="img2_2">格斗</div><div class="img2_3"><a href="http://shouyou.gamersky.com/ku/865176.shtml" target="_blank">下载</a></div></div></li>

                <li class="txt block"><div class="t1">3</div><div class="t2"><a href="http://shouyou.gamersky.com/ku/956495.shtml" target="_blank">猎魂觉醒</a></div></li><li class="img none"><div class="img_0">3</div><div class="img_1"><a href="http://shouyou.gamersky.com/ku/956495.shtml" target="_blank"><img data-src="http://img1.gamersky.com/image2018/01/20180123_yyc_325_11/icon.jpg" src="http://img1.gamersky.com/image2018/01/20180123_yyc_325_11/icon.jpg" alt="猎魂觉醒" width="65" height="65" class="pe_u_thumb" border="0"></a></div><div class="img_2"><div class="img2_1"><a href="http://shouyou.gamersky.com/ku/956495.shtml" target="_blank">猎魂觉醒</a></div><div class="img2_2">角色扮演</div><div class="img2_3"><a href="http://shouyou.gamersky.com/ku/956495.shtml" target="_blank">下载</a></div></div></li>

                <li class="txt block"><div class="t1">4</div><div class="t2"><a href="http://shouyou.gamersky.com/ku/744864.shtml" target="_blank">魔女兵器</a></div></li><li class="img none"><div class="img_0">4</div><div class="img_1"><a href="http://shouyou.gamersky.com/ku/744864.shtml" target="_blank"><img data-src="http://img1.gamersky.com/image2018/03/20180305_yyc_325_1/icon.jpg" src="http://img1.gamersky.com/image2018/03/20180305_yyc_325_1/icon.jpg" alt="魔女兵器" width="65" height="65" class="pe_u_thumb" border="0"></a></div><div class="img_2"><div class="img2_1"><a href="http://shouyou.gamersky.com/ku/744864.shtml" target="_blank">魔女兵器</a></div><div class="img2_2">动作角色扮演</div><div class="img2_3"><a href="http://shouyou.gamersky.com/ku/744864.shtml" target="_blank">下载</a></div></div></li>

                <li class="txt block"><div class="t1">5</div><div class="t2"><a href="http://shouyou.gamersky.com/ku/668596.shtml" target="_blank">像素车：超改</a></div></li><li class="img none"><div class="img_0">5</div><div class="img_1"><a href="http://shouyou.gamersky.com/ku/668596.shtml" target="_blank"><img data-src="http://img1.gamersky.com/image2018/03/20180319_yyc_325_2/icon.jpg" src="http://img1.gamersky.com/image2018/03/20180319_yyc_325_2/icon.jpg" alt="像素车：超改" width="65" height="65" class="pe_u_thumb" border="0"></a></div><div class="img_2"><div class="img2_1"><a href="http://shouyou.gamersky.com/ku/668596.shtml" target="_blank">像素车：超改</a></div><div class="img2_2">射击</div><div class="img2_3"><a href="http://shouyou.gamersky.com/ku/668596.shtml" target="_blank">下载</a></div></div></li>

                <li class="txt block"><div class="t1">6</div><div class="t2"><a href="http://shouyou.gamersky.com/ku/918808.shtml" target="_blank">魔力宝贝手机版</a></div></li><li class="img none"><div class="img_0">6</div><div class="img_1"><a href="http://shouyou.gamersky.com/ku/918808.shtml" target="_blank"><img data-src="http://img1.gamersky.com/image2017/09/20170904_yyc_325_7/icon.jpg" src="http://img1.gamersky.com/image2017/09/20170904_yyc_325_7/icon.jpg" alt="魔力宝贝手机版" width="65" height="65" class="pe_u_thumb" border="0"></a></div><div class="img_2"><div class="img2_1"><a href="http://shouyou.gamersky.com/ku/918808.shtml" target="_blank">魔力宝贝手机版</a></div><div class="img2_2">角色扮演</div><div class="img2_3"><a href="http://shouyou.gamersky.com/ku/918808.shtml" target="_blank">下载</a></div></div></li>

                <li class="txt block"><div class="t1">7</div><div class="t2"><a href="http://shouyou.gamersky.com/ku/989537.shtml" target="_blank">孤岛先锋</a></div></li><li class="img none"><div class="img_0">7</div><div class="img_1"><a href="http://shouyou.gamersky.com/ku/989537.shtml" target="_blank"><img data-src="http://img1.gamersky.com/image2018/03/20180302_yyc_325_1/icon.jpg" src="http://img1.gamersky.com/image2018/03/20180302_yyc_325_1/icon.jpg" alt="孤岛先锋" width="65" height="65" class="pe_u_thumb" border="0"></a></div><div class="img_2"><div class="img2_1"><a href="http://shouyou.gamersky.com/ku/989537.shtml" target="_blank">孤岛先锋</a></div><div class="img2_2">角色扮演</div><div class="img2_3"><a href="http://shouyou.gamersky.com/ku/989537.shtml" target="_blank">下载</a></div></div></li>

                <li class="txt block"><div class="t1">8</div><div class="t2"><a href="http://shouyou.gamersky.com/ku/1009974.shtml" target="_blank">超物理基斗</a></div></li><li class="img none"><div class="img_0">8</div><div class="img_1"><a href="http://shouyou.gamersky.com/ku/1009974.shtml" target="_blank"><img data-src="http://img1.gamersky.com/image2018/02/20180201_yyc_325_9/icon.jpg" src="http://img1.gamersky.com/image2018/02/20180201_yyc_325_9/icon.jpg" alt="超物理基斗" width="65" height="65" class="pe_u_thumb" border="0"></a></div><div class="img_2"><div class="img2_1"><a href="http://shouyou.gamersky.com/ku/1009974.shtml" target="_blank">超物理基斗</a></div><div class="img2_2">益智休闲</div><div class="img2_3"><a href="http://shouyou.gamersky.com/ku/1009974.shtml" target="_blank">下载</a></div></div></li>

                <li class="txt block"><div class="t1">9</div><div class="t2"><a href="http://shouyou.gamersky.com/ku/1025074.shtml" target="_blank">永不言弃3：世界</a></div></li><li class="img none"><div class="img_0">9</div><div class="img_1"><a href="http://shouyou.gamersky.com/ku/1025074.shtml" target="_blank"><img data-src="http://img1.gamersky.com/image2018/03/20180315_yyc_325_4/icon.jpg" src="http://img1.gamersky.com/image2018/03/20180315_yyc_325_4/icon.jpg" alt="永不言弃3：世界" width="65" height="65" class="pe_u_thumb" border="0"></a></div><div class="img_2"><div class="img2_1"><a href="http://shouyou.gamersky.com/ku/1025074.shtml" target="_blank">永不言弃3：世界</a></div><div class="img2_2">动作</div><div class="img2_3"><a href="http://shouyou.gamersky.com/ku/1025074.shtml" target="_blank">下载</a></div></div></li>

                <li class="txt block"><div class="t1">10</div><div class="t2"><a href="http://shouyou.gamersky.com/ku/923532.shtml" target="_blank">缪斯余音</a></div></li><li class="img none"><div class="img_0">10</div><div class="img_1"><a href="http://shouyou.gamersky.com/ku/923532.shtml" target="_blank"><img data-src="http://img1.gamersky.com/image2017/07/20170704_yyc_325_9/icon.jpg" src="http://img1.gamersky.com/image2017/07/20170704_yyc_325_9/icon.jpg" alt="缪斯余音" width="65" height="65" class="pe_u_thumb" border="0"></a></div><div class="img_2"><div class="img2_1"><a href="http://shouyou.gamersky.com/ku/923532.shtml" target="_blank">缪斯余音</a></div><div class="img2_2">跑酷</div><div class="img2_3"><a href="http://shouyou.gamersky.com/ku/923532.shtml" target="_blank">下载</a></div></div></li>

      </ul>
      <ul class="txt_pic none">




                <li class="txt none"><div class="t1">1</div><div class="t2"><a href="http://shouyou.gamersky.com/ku/943801.shtml" target="_blank">黑色沙漠</a></div></li><li class="img block"><div class="img_0">1</div><div class="img_1"><a href="http://shouyou.gamersky.com/ku/943801.shtml" target="_blank"><img data-src="http://img1.gamersky.com/image2018/02/20180228_yyc_325_7/icon.jpg" src="http://img1.gamersky.com/image2018/02/20180228_yyc_325_7/icon.jpg" alt="黑色沙漠" width="65" height="65" class="pe_u_thumb" border="0"></a></div><div class="img_2"><div class="img2_1"><a href="http://shouyou.gamersky.com/ku/943801.shtml" target="_blank">黑色沙漠</a></div><div class="img2_2">角色扮演</div><div class="img2_3"><a href="http://shouyou.gamersky.com/ku/943801.shtml" target="_blank">下载</a></div></div></li>

                <li class="txt block"><div class="t1">2</div><div class="t2"><a href="http://shouyou.gamersky.com/ku/990005.shtml" target="_blank">Cytus 2</a></div></li><li class="img none"><div class="img_0">2</div><div class="img_1"><a href="http://shouyou.gamersky.com/ku/990005.shtml" target="_blank"><img data-src="http://img1.gamersky.com/image2018/01/20180112_yyc_325_7/icon.jpg" src="http://img1.gamersky.com/image2018/01/20180112_yyc_325_7/icon.jpg" alt="Cytus 2" width="65" height="65" class="pe_u_thumb" border="0"></a></div><div class="img_2"><div class="img2_1"><a href="http://shouyou.gamersky.com/ku/990005.shtml" target="_blank">Cytus 2</a></div><div class="img2_2">音乐</div><div class="img2_3"><a href="http://shouyou.gamersky.com/ku/990005.shtml" target="_blank">下载</a></div></div></li>

                <li class="txt block"><div class="t1">3</div><div class="t2"><a href="http://shouyou.gamersky.com/ku/1019705.shtml" target="_blank">进化之地2</a></div></li><li class="img none"><div class="img_0">3</div><div class="img_1"><a href="http://shouyou.gamersky.com/ku/1019705.shtml" target="_blank"><img data-src="http://img1.gamersky.com/image2018/03/20180302_yyc_325_4/icon.jpg" src="http://img1.gamersky.com/image2018/03/20180302_yyc_325_4/icon.jpg" alt="进化之地2" width="65" height="65" class="pe_u_thumb" border="0"></a></div><div class="img_2"><div class="img2_1"><a href="http://shouyou.gamersky.com/ku/1019705.shtml" target="_blank">进化之地2</a></div><div class="img2_2">角色扮演</div><div class="img2_3"><a href="http://shouyou.gamersky.com/ku/1019705.shtml" target="_blank">下载</a></div></div></li>

                <li class="txt block"><div class="t1">4</div><div class="t2"><a href="http://shouyou.gamersky.com/ku/986736.shtml" target="_blank">死神来了</a></div></li><li class="img none"><div class="img_0">4</div><div class="img_1"><a href="http://shouyou.gamersky.com/ku/986736.shtml" target="_blank"><img data-src="http://img1.gamersky.com/image2017/12/20171205_yyc_325_2/icon.jpg" src="http://img1.gamersky.com/image2017/12/20171205_yyc_325_2/icon.jpg" alt="死神来了" width="65" height="65" class="pe_u_thumb" border="0"></a></div><div class="img_2"><div class="img2_1"><a href="http://shouyou.gamersky.com/ku/986736.shtml" target="_blank">死神来了</a></div><div class="img2_2">角色扮演</div><div class="img2_3"><a href="http://shouyou.gamersky.com/ku/986736.shtml" target="_blank">下载</a></div></div></li>

                <li class="txt block"><div class="t1">5</div><div class="t2"><a href="http://shouyou.gamersky.com/ku/916589.shtml" target="_blank">暗影之枪：传奇</a></div></li><li class="img none"><div class="img_0">5</div><div class="img_1"><a href="http://shouyou.gamersky.com/ku/916589.shtml" target="_blank"><img data-src="http://img1.gamersky.com/image2018/03/20180323_yyc_325_3/icon.jpg" src="http://img1.gamersky.com/image2018/03/20180323_yyc_325_3/icon.jpg" alt="暗影之枪：传奇" width="65" height="65" class="pe_u_thumb" border="0"></a></div><div class="img_2"><div class="img2_1"><a href="http://shouyou.gamersky.com/ku/916589.shtml" target="_blank">暗影之枪：传奇</a></div><div class="img2_2">射击</div><div class="img2_3"><a href="http://shouyou.gamersky.com/ku/916589.shtml" target="_blank">下载</a></div></div></li>

                <li class="txt block"><div class="t1">6</div><div class="t2"><a href="http://shouyou.gamersky.com/ku/989537.shtml" target="_blank">孤岛先锋</a></div></li><li class="img none"><div class="img_0">6</div><div class="img_1"><a href="http://shouyou.gamersky.com/ku/989537.shtml" target="_blank"><img data-src="http://img1.gamersky.com/image2018/03/20180302_yyc_325_1/icon.jpg" src="http://img1.gamersky.com/image2018/03/20180302_yyc_325_1/icon.jpg" alt="孤岛先锋" width="65" height="65" class="pe_u_thumb" border="0"></a></div><div class="img_2"><div class="img2_1"><a href="http://shouyou.gamersky.com/ku/989537.shtml" target="_blank">孤岛先锋</a></div><div class="img2_2">角色扮演</div><div class="img2_3"><a href="http://shouyou.gamersky.com/ku/989537.shtml" target="_blank">下载</a></div></div></li>

                <li class="txt block"><div class="t1">7</div><div class="t2"><a href="http://shouyou.gamersky.com/ku/1023662.shtml" target="_blank">荣耀继承者</a></div></li><li class="img none"><div class="img_0">7</div><div class="img_1"><a href="http://shouyou.gamersky.com/ku/1023662.shtml" target="_blank"><img data-src="http://img1.gamersky.com/image2018/03/20180313_yyc_325_2/icon.jpg" src="http://img1.gamersky.com/image2018/03/20180313_yyc_325_2/icon.jpg" alt="荣耀继承者" width="65" height="65" class="pe_u_thumb" border="0"></a></div><div class="img_2"><div class="img2_1"><a href="http://shouyou.gamersky.com/ku/1023662.shtml" target="_blank">荣耀继承者</a></div><div class="img2_2">角色扮演</div><div class="img2_3"><a href="http://shouyou.gamersky.com/ku/1023662.shtml" target="_blank">下载</a></div></div></li>

                <li class="txt block"><div class="t1">8</div><div class="t2"><a href="http://shouyou.gamersky.com/ku/865176.shtml" target="_blank">生死格斗5无限</a></div></li><li class="img none"><div class="img_0">8</div><div class="img_1"><a href="http://shouyou.gamersky.com/ku/865176.shtml" target="_blank"><img data-src="http://img1.gamersky.com/image2017/02/20170206_yyc_325_7/icon.jpg" src="http://img1.gamersky.com/image2017/02/20170206_yyc_325_7/icon.jpg" alt="生死格斗5无限" width="65" height="65" class="pe_u_thumb" border="0"></a></div><div class="img_2"><div class="img2_1"><a href="http://shouyou.gamersky.com/ku/865176.shtml" target="_blank">生死格斗5无限</a></div><div class="img2_2">格斗</div><div class="img2_3"><a href="http://shouyou.gamersky.com/ku/865176.shtml" target="_blank">下载</a></div></div></li>

                <li class="txt block"><div class="t1">9</div><div class="t2"><a href="http://shouyou.gamersky.com/ku/1019724.shtml" target="_blank">村民与英雄</a></div></li><li class="img none"><div class="img_0">9</div><div class="img_1"><a href="http://shouyou.gamersky.com/ku/1019724.shtml" target="_blank"><img data-src="http://img1.gamersky.com/image2018/03/20180302_yyc_325_6/icon.jpg" src="http://img1.gamersky.com/image2018/03/20180302_yyc_325_6/icon.jpg" alt="村民与英雄" width="65" height="65" class="pe_u_thumb" border="0"></a></div><div class="img_2"><div class="img2_1"><a href="http://shouyou.gamersky.com/ku/1019724.shtml" target="_blank">村民与英雄</a></div><div class="img2_2">角色扮演</div><div class="img2_3"><a href="http://shouyou.gamersky.com/ku/1019724.shtml" target="_blank">下载</a></div></div></li>

                <li class="txt block"><div class="t1">10</div><div class="t2"><a href="http://shouyou.gamersky.com/ku/930636.shtml" target="_blank">初体计划</a></div></li><li class="img none"><div class="img_0">10</div><div class="img_1"><a href="http://shouyou.gamersky.com/ku/930636.shtml" target="_blank"><img data-src="http://img1.gamersky.com/image2017/07/20170718_yyc_325_10/icon.jpg" src="http://img1.gamersky.com/image2017/07/20170718_yyc_325_10/icon.jpg" alt="初体计划" width="65" height="65" class="pe_u_thumb" border="0"></a></div><div class="img_2"><div class="img2_1"><a href="http://shouyou.gamersky.com/ku/930636.shtml" target="_blank">初体计划</a></div><div class="img2_2">动作</div><div class="img2_3"><a href="http://shouyou.gamersky.com/ku/930636.shtml" target="_blank">下载</a></div></div></li>

      </ul>
      <div class="Midtit"><div class="tit">热门专区</div><div class="SJgameRmore"><a class="update" href="javascript:;"><i></i>换一批</a></div></div>
      <ul class="SJgameRimg">
  <li class="block">
  <a target="_blank" href="http://shouyou.gamersky.com/z/id5/"><img width="70" height="70" data-="" src="http://img1.gamersky.com/image2018/03/20180313_yyc_325_6/icon.jpg"><br>
  第五人格</a>
  <a target="_blank" href="http://shouyou.gamersky.com/z/moli/&#10;  "><img width="70" height="70" data-src="http://img1.gamersky.com/image2017/09/20170904_yyc_325_7/icon.jpg" src="http://img1.gamersky.com/image2017/09/20170904_yyc_325_7/icon.jpg"><br>
  魔力宝贝</a>
  <a target="_blank" href="http://shouyou.gamersky.com/z/fgo/"><img width="70" height="70" data-src="http://img1.gamersky.com/image2016/09/20160929_yyc_325_19/icon.jpg" src="http://img1.gamersky.com/image2016/09/20160929_yyc_325_19/icon.jpg"><br>
  FGO</a>
  </li>
  <li class="none">
  <a target="_blank" href="http://shouyou.gamersky.com/z/fc/"><img width="70" height="70" data-="" src="http://img1.gamersky.com/image2017/11/20171123_yyc_325_5/icon.jpg"><br>
  七日之都</a>
  <a target="_blank" href="http://shouyou.gamersky.com/z/clx/"><img width="70" height="70" data-="" src="http://img1.gamersky.com/image2018/01/20180122_yyc_325_10/icon.jpg"><br>
  楚留香</a>
  <a target="_blank" href="http://shouyou.gamersky.com/z/tldk2/"><img width="70" height="70" data-="" src="http://img1.gamersky.com/image2018/03/20180301_yyc_325_1/icon.jpg"><br>
  贪婪洞窟2</a>
  </li>
  <li class="none"><a target="_blank" href="http://shouyou.gamersky.com/z/cook/"><img width="70" height="70" data-="" src="http://img1.gamersky.com/image2017/08/20170830_yyc_325_15/icon.jpg"><br>
  料理次元</a>
  <a target="_blank" href="http://shouyou.gamersky.com/z/lhjx/"><img width="70" height="70" data-="" src="http://img1.gamersky.com/image2018/01/20180123_yyc_325_11/icon.jpg"><br>
  猎魂觉醒</a>
  <a target="_blank" href="http://shouyou.gamersky.com/z/wzry/"><img width="70" height="70" data-="" src="http://img1.gamersky.com/image2016/10/20161019_yyc_325_10/icon.jpg"><br>
  王者荣耀</a>
  </li>
</ul>
    </div><!--SJgame_R end-->
  </div>
{% endblock content %}



{% block scripts %}
{{ super() }}
<script>
  $(function() {
    $( ".nav-hover" ).mouseover(function() {
      $(this).addClass("open");
    });
    $( ".nav-hover" ).mouseout(function() {
      $(this).removeClass("open");
    });
  });
  </script>
{% endblock  scripts %}


{% endblock body%}

